.dashboard__content {
  grid-area: main;
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(3, 1fr); /* same as 1fr 1fr 1fr */
  grid-template-rows: 20px 120px 20px 2fr 1fr;
  background-color: var(--main);
  width: 100%;
  height: 100vh;
  padding: 4rem 8rem;
}

.content-title {
  grid-column: 1 / 4;
  display: flex;
  align-items: center;
}


.pill-wrapper {
  grid-column: 1 / 4;  
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em;
}
.pill {
  display: grid;
  grid-template-rows: 2.2em 1fr;
  grid-template-columns: 1fr 80px;
}
.pill__icon {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}
.pill__detail {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  justify-self: center;
}
.pill__content {
  grid-column: 1 / 2;
  grid-row: 2 / 3;  
  align-self: end;
}


.chart {
  grid-column: 1 / 3;
}


.activity-feed {
  grid-row: 4 / 6;
  grid-column: 3 / 4;  
  display: grid;
  grid-template-rows: 50px 1fr;
}
.feed {
  display: grid; /* look ma', auto placement! */
}

.circle-chart__content {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
}

.legend {
  display: flex;
  flex-direction: column;
  height: 100%; /* this could be refactored */
  justify-content: space-evenly; /* now items have equal space around them */
}

.legend__item {
  display: flex;
  align-items: center;
}


.user {
  display: grid;
  grid-template-columns: 40px 1fr 1fr;
  grid-template-rows: 20px 20px;
  grid-column-gap: 1em; /* we only set column gap. we could do something like -> grid-gap: 0 1em; */
  
  /* we might not need template areas, but I just wanted to play with them again */
  grid-template-areas: "user-avatar user-name    user-name"
                       "user-avatar user-message user-timestamp";
  
  align-items: center;
}
.user__avatar {
  grid-area: user-avatar;
}
.user__name {
  grid-area: user-name;
}
.user__message {
  grid-area: user-message;
}
.user__timestamp {
  grid-area: user-timestamp;
}

:root {
  --header: #1E87F0;
  --main: #F0F0F0;
  --aside: #fff;
  --nav: #fff;
  --primary: #fff;
}

.dashboard__content > * {
  color: black;
  font-weight: 500;
  font-size: 1rem;
}

.dashboard__content h3 {
  height: 1em;
  padding-left: 1em;
  font-size: 1rem;
  border-bottom: 1px solid #ddd;
  padding-bottom: 1em;
}

.nav__item {
  padding: 12px;
}

.header__title,
.header__icon i{
  color: black;
}

.content-title {
  background-color: inherit;
}
.content-title h2 {
  font-size: 1rem;
  width: 120px;
}
.content-title i {
  font-size: 0.7rem;  
}

.filter {
  margin-left: auto;
  align-items: center;
  margin-right: 1rem;
}
.filter__item {
  background-color: #ddd;
  padding: 4px 10px;
  font-size: 0.8rem;
  border-radius: 30px;
}
.logout {
  border-color: var(--header);
  border-radius: 4px;
  padding: 7px 20px;
  font-size: 0.8rem;
  background-color: transparent;
}

.dashboard__content > * {
  background-color: white;
  border-radius: 5px;
  color: black;
}


.pill-wrapper {
  background-color: transparent;
}
.pill {
  background-color: #4376F6;
  border-radius: 5px;
  color: black;
  align-items: center;
  font-size: 0.8rem;
}
.pill:nth-child(2) {
  background-color: #e48e0b;
}
.pill:nth-child(3) {
  background-color: #51d6a7;
}
.pill {
  align-items: center;
  font-size: 0.8rem;
}
.pill__icon {
  padding-left: 1.5em;
}
.pill__date {
  font-size: 0.7rem;
  color: black;
}
.pill__title {
  padding: 0.2rem 0;
  font-weight: bold;
}
.pill__content {
  padding: 1.5em;
}
.pill__value {
  font-size: 1.8em;
}


.circle {
	border: 6px solid var(--header);
  border-top-color: #e48e0b;
  transform: rotate(45deg);
	border-radius: 50%;
	width: 70px;
	height: 70px;
  margin-left: 1em;
}
.circle-chart__content {
  padding-bottom: 1em;
}


.feed__item {
  padding: 1em;
}
.feed__item:nth-child(2n) {
  background-color: #fafafa;
}


.user {
  font-size: 0.8rem;
}
.user__avatar {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background-color: rgba(0,0,255,0.1);
  border: 1px solid rgba(0,0,255,0.3);
}
.user__name {
  font-size: 0.9rem;
  font-weight: 700;
}
.user__timestamp {
  font-style: italic;
  text-align: right;
}


.legend__item {
  font-size: 0.9rem;
}
.legend__icon {
  width: 8px;
  height: 8px;
  background-color: blue;
  margin-right: 0.6em;
}
.legend__icon--blue {
  background-color: #2FA2F4;
}
.legend__icon--orange {
  background-color: #FAA05A;
}
.legend__icon--red {
  background-color: #F7652B;
}
.activity-feed__button {
  background-color: var(--header);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em;
  font-size: 0.8rem;
  font-weight: 700;
  cursor: pointer;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.hotel__image {
  background-image: url(https://i.ibb.co/Hq006Vx/NAIROBI-removebg-preview.png);
  background-size: fit;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
